:root{--roxo:#7b0fa6;--amarelo:#ffb000}
body{margin:0;font-family:Arial;background:#fafafa;color:#222}
header{background:var(--roxo);padding:20px;display:flex;justify-content:space-between}
.logo{width:150px}
button{background:var(--amarelo);padding:15px;border-radius:30px;border:0;font-weight:bold}
.hero{padding:80px 8%;color:white;background:linear-gradient(90deg,#7b0fa6,#b52bd9)}
.produto{max-width:400px;width:90%;border-radius:25px}
section{text-align:center;padding:40px}
footer{background:#22002f;color:white;padding:30px;text-align:center}
